
/* BODY */
body{
    background-color:lightblue;
}

/* LOGO */
#logo {
    height: 40px;
}
/* TOP BAR */
.top-bar{
    border: 1px solid green;
    width: 100%;
    display: flex;
}

.top-bar div{
    margin-right: 10px;
}

/* HEADER */
.header {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

/* NAVBAR */
.nav-bar{
    border: 1px solid purple;
    width: 100%;
    height: 20px;
    display: flex;
}

.nav-bar div{
    margin-right: 10px;
}

/* HOT NEWS */
.HotNews {
    border:1px dotted red;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
   
}

/* MAIN */
.main{
    border: 1px solid yellow;
    width: 100%;
    height: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
